fastapi                  # Основной фреймворк
uvicorn                  # ASGI-сервер для запуска FastAPI
sqlalchemy               # ORM для работы с PostgreSQL
psycopg2-binary          # Драйвер для PostgreSQL
alembic                  # Миграции базы данных
pydantic                 # Валидация данных
python-dotenv            # Работа с переменными окружения
passlib[bcrypt]          # Хеширование паролей
pyjwt                    # Работа с JWT-токенами